<div class="row">
	<div class="col-md-7">
		<a href="#">
			<img class="img-fluid rounded mb-3 mb-md-0" id="{{this.title}}" src="{{this.link}}" alt="">
		</a>
	</div>
	<div class="col-md-5">
		<h3 class="title">{{this.title}}</h3>
		<a class="btn btn-primary save" id="{{this.title}}-{{this.link}}" href="#">Save Post</a>
	</div>
</div>
<!-- /.row -->

<hr>