<div class="row">
	<div class="col-md-7">
		<a href="#">
			<img class="img-fluid rounded mb-3 mb-md-0" id="{{this.title}}" src="{{this.link}}" alt="">
		</a>
	</div>
	<div class="col-md-5">
		<h3 class="title">{{this.title}}</h3>
		<a class="btn btn-primary delete" id="{{this.title}}-{{this.link}}" href="#">Delete</a>
        <h3>Notes: <span id="{{this.link}}">{{this.notes}}</span></h3>
        <textarea class="form-control" id="text_{{this._id}}" rows="3"></textarea>
        <a class="btn btn-primary submit" id="{{this.title}}+{{this.link}}+{{this._id}}" href="#">Submit</a>

	</div>
</div>
<!-- /.row -->

<hr>